<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="header fixed-header">
    <div class="header-title">
        <h1>{{ .Header }}</h1>
    </div>
    <div class="buttons-right">
        <a href="/login" class="button">Login</a>
        <a href="/register" class="button">Register</a>
    </div>
</div>
<div class="block1">
    <p>{{ .Block1 }}</p>
</div>
<br>
<div class="block2">
    <p>{{ .Block2 }}</p>
</div>
</body>
</html>